PORT=3000
SUPABASE_URL=https://sovwsdujqradjdsuvybc.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNvdndzZHVqcXJhZGpkc3V2eWJjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDc4NDUxNDgsImV4cCI6MjA2MzQyMTE0OH0.93S0lJwJDfcKlU93AIfq1d5TbU1NHcVMj11i7E9GDq8

GEMINI_API_KEY=AIzaSyCHVK5A681NRc44Q4SG0p1-MR0vLjZR4d0

SLACK_WEBHOOK_URL=https://hooks.slack.com/services/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
